<div class="row">
  <h3 class="fw-bold h5">
    Últimas Proyectos
  </h3>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios1">
      <img src="assets/img/img_3.png" class="card-img-top img-sizeP">
      <div class="card-body">
        <h5 class="card-title text-centerP">Constúlopolis</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios2">
      <img src="assets/img/img_4.png" class="card-img-top img-sizeP">
      <div class="card-body">
        <h5 class="card-title text-centerP">Guía turística de Chiapas</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios3">

      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios4">

      <div class="card-body">

      </div>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <h3 class="fw-bold h5">
    Software
  </h3>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios1">
      <img src="assets/img/img_3.png" class="card-img-top img-sizeP">
      <div class="card-body">
        <h5 class="card-title text-centerP">Constúlopolis</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios2">

      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios3">

      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios4">

      <div class="card-body">

      </div>
    </div>
  </div>
</div>
<br/>
<div class="background-color">
<br/>
<div class="row">
  <h3 class="fw-bold h5 text-col">
    Apps
  </h3>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios1">
      <img src="assets/img/img_3.png" class="card-img-top img-sizeP">
      <div class="card-body">
        <h5 class="card-title text-centerP">Guía turística de Chiapas</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios2">

      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios3">

      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios4">

      <div class="card-body">

      </div>
    </div>
  </div>
</div>
<br/>
<div class="row">
  <h3 class="fw-bold h5 text-col">
    Games
  </h3>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios1">
      <img src="assets/img/img_3.png" class="card-img-top img-sizeP">
      <div class="card-body">
        <h5 class="card-title text-centerP">En construcción</h5>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios2">

      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios3">

      <div class="card-body">

      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <br/>
    <div class="card CardPortafolios4">

      <div class="card-body">

      </div>
    </div>
  </div>
</div>
<br/>
</div>







