.CardPortafolios{
  width: 80%;
  height: 210px;
  border-radius: 22px;


}

.img-sizeP{
  width: 80%;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block;
}
.text-centerP{
  text-align: center;
}
.h5{
  margin-left: 100px;
}
.background-color{
    background-color: #FF3E6F;

}
.text-col{
  color: white;
}
@media screen and (max-width: 443px){
  .img-sizeP{
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
  }
  .text-centerP{
    text-align: center;
    font-size: 1.0rem;
  }

}
@media screen and (max-width: 380px){
  .img-sizeP{
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: block;
  }
  .text-centerP{
    text-align: center;
    font-size: 0.7rem;
  }
  .CardPortafolios{
    width: 80%;
    height: 180px;
    border-radius: 22px;


  }
}

