<div>
  <div class="recuadro1">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <br/>
          <h5 class="fw-bold tAlign">¿Te interesa nuestros servicios?</h5>
          <p class="tAlign">El ámbar, árabe o succino (del latín succinum) es una piedra preciosa hecha de resina vegetal fosilizada proveniente principalmente de restos de coníferas y algunas angioespermas. De entre todos los colores del ámbar, el ámbar rojo es de los más raros, cotizados y apreciados, también de los más hermosos. El ámbar rojo sólamente se encuentra en 2 lugares del mundo, uno de ellos es Chiapas.</p>
        </div>
        <div class="col-lg-4">
          <div class="circleMail">
            <a class="" routerLink="/Contacto">
              <img class="icon" src="assets/icons/local_post_office_white_24dp.svg">
            </a>
            <br/>
            <h4 class="fw-bold">Escríbenos</h4>
            <br/>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="recuadro2">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <br/>
          <h5 class="fw-bold tAlign">¿Qué es Ambar Studios?</h5>
          <p class="tAlign">Es una empresa certificada en desarrollo de Aplicaciones Móviles (Titanium Appcelerator). Desarrollo de Software a la medida, Animación y Videojuegos.</p>
        </div>
        <div class="col-lg-5">
          <br/>
          <h5 class="fw-bold tAlign">Últimos Tweets</h5>
          <img class="iconTweet" src="assets/icons/Twet.png">
          <p class="p tAlign">
            <a href="https://twitter.com/AmbarRojoStudio/status/355201810811727872" class="a-color">hace 3073 días</a>
            Solicito analistas/programadores .net 2-4 años d exp., certificados, titulados, inglés 60%, para trabajar en Mty: ambar.studios@hotmail.com
          </p>
          <img class="iconTweet" src="assets/icons/Twet.png">
          <p class="p tAlign">
           <a class="a-color" href="https://twitter.com/AmbarRojoStudio/status/342531394817376257">hace 3108 días</a>
            RT <a class="a-color" href="https://twitter.com/PabloHernandezO">@PabloHernandezO</a>
            Ecosistema Mexicano Emprendedor: Les paso la versión más actualizada
            <a class="a-color" href="https://twitter.com/akirareiko">@akirareiko</a>
            <a class="a-color" href="https://twitter.com/StartupBuzzLA">@StartupBuzzLA </a>
            <a class="a-color" href="https://twitter.com/aleximenez">@aleximenez</a>
            <a class="a-color" href="http://pablohernandezohagan.sharedby.co/share/60tvJp">http://t.co/Ddqd1Yp0Lr</a>
          </p>
          <img class="iconTweet" src="assets/icons/Twet.png">
          <p class="tAlign">
           <a class="a-color" href="https://twitter.com/AmbarRojoStudio/status/342524277557432320">hace 3108 días </a>
            Favor de RT
            <a class="a-color" href="https://twitter.com/endeavorchiapas">@endeavorchiapas</a>
            Taller Gratuito de Google Maps para desarrolladores
            <a class="a-color" href="https://www.facebook.com/photo.php?fbid=113690955508285&set=a.113517802192267.1073741828.100006021430284&type=1&ref=nf">on.fb.me/12ruwHz</a>
          </p>
        </div>
        <div class="col-lg-3">
          <br/>
          <h5 class="fw-bold tAlign">Estamos en..</h5>
          <p class="tAlign">
            Avenida Platino 173, Colonia Rosario Poniente, Tuxtla Gutiérrez Chiapas, CP 29104
          </p>
          <p class="tAlign">
            Tel. 9612261559 y 9612255126
          </p>
          <br/>
        </div>
      </div>
    </div>
  </div>
  <div class="Recuadro3">
    <br/>
    <div class="container">
      <div class="row">
        <div class="col-xl-8">
          <p class="p-color tAlign">AMBAR ROJO STUDIOS derechos reservados 2019</p>
        </div>
        <div class="col-xl-4">
          <a href="https://twitter.com/AmbarRojoStudio"><img class="iconsF" src="assets/icons/Twet.png"></a>
          <a href="https://www.facebook.com/AmbarRojoStudio"><img class="iconsF" src="assets/icons/facebook.png"></a>
          <img class="iconsF" src="assets/icons/rss.png">
        </div>
      </div>
    </div>
    <br/>
  </div>
</div>
