#ContainerBackground{
  background-color: #FB003F;

}
.letrasColor{
  color: white;
}
#Logo{
  position: relative;
  right: 150px;
  width: 350px;
  height: 233px;
}
.Ambar{
  display: inline-block;
  position: relative;
  right: 150px;
}
.Studios{
  font-size: 48px;
}
#titleLetra{
  position: relative;
  right: 50px;
  font-size: 55px;
}
#bermuda{
  margin-left: -150px;
  margin-top: -200px;
  width: 788px;
  height: 566px;

}
#grupo{
  margin-top: -60px;
  width: 498px;
  height: 446px;
  margin-left: 60px;


}
#pablita1{
  width: 795px;
  height: 460px;
  position: relative;
  right: 150px;

}
#pablita2{
  width: 710px;
  height: 412px;
  position: relative;
  right: 150px;
  bottom: -50px;
}

.letra-a{
  text-decoration: none;
}
#cherry{
  width: 500px;
  height: 612px;
  margin-top: -168px;

}

#pablitaC{
  width: 766px;
  height: 343px;
  margin-left: -200px;
  margin-top: 60px;

}
#taxi{
  width: 513px;
  height: 513px;
  margin-right: 0px;
  margin-top: -50px;
}
#serv{
  width: 1012px;
  height: 812px;
  margin-left: 400px;
  margin-top: -300px;
}
#nos{
  width: 820px;
  height: 615px;
  margin-left: 600px;
  margin-top: -100px;
}

