
<div>
  <div id="ContainerBackground">
    <br/>
    <div class="container" >
      <div class="row">
        <div class="col-lg-6">
          <img src="assets/img/Logo.png" id="Logo">
          <h1 class="letrasColor Ambar fw-bold">AMBAR ROJO <br/><h1 class="Studios fw-light">S  T  U  D  I  O  S</h1></h1>
          <br/>
          <h1 class="letrasColor fw-bold" id="titleLetra">Crear y desarrollar experiencias es la meta</h1>
        </div>
        <div class="col-lg-1">
          <h5 class="letrasColor">
            Inicio
          </h5>
        </div>
        <div class="col-lg-1">
          <h5 class="letrasColor">
            Nosotros
          </h5>
        </div>
        <div class="col-lg-1">
          <h5 class="letrasColor">
            Servicios
          </h5>
        </div>
        <div class="col-lg-1">
          <h5 class="letrasColor">
            Portafolios
          </h5>
        </div>
        <div class="col-lg-1">
          <h5 class="letrasColor">
            Noticias
          </h5>
        </div>
        <div class="col-lg-1">
          <h5 class="letrasColor">
            Contacto
          </h5>
        </div>
      </div>
    </div>
    <div>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <img id="bermuda" src="assets/img/bermuda-web-design.png">
          </div>
          <div class="col-lg-4">
            <img id="grupo" src="assets/img/grupo.png">
          </div>
        </div>
      </div>


    </div>
  </div>

</div>
