#ContainerBackground{
  background-color: #FB003F;
}
.letrasColor{
  color: white;
}
#Logo{
  position: relative;
  right: 150px;
  width: 350px;
  height: 233px;
}
.Ambar{
  display: inline-block;
  position: relative;
  right: 150px;
}
.Studios{
  font-size: 48px;
}
#titleLetra{
  position: relative;
  right: 50px;
  font-size: 55px;
}
#bermuda{
  position: relative;
  right: 150px;
  width: 788px;
  height: 566px;

}
#grupo{

  width: 498px;
  height: 446px;
  position: relative;
  right: -60px;
  bottom: -120px;

}
#pablita1{
  width: 795px;
  height: 460px;
  position: relative;
  right: 150px;

}
#pablita2{
  width: 710px;
  height: 412px;
  position: relative;
  right: 150px;
  bottom: -50px;
}

.letra-a{
  text-decoration: none;
}
#cherry{
  width: 500px;
  height: 612px;
  margin-top: -168px;

}

