#ContainerBackground{
  background-color: #FB003F;
  width: 100%;
  height: 70%;
}
.letrasColor{
  color: white;
}
#Logo{
  width: 35%;
  height: auto;
}
.Ambar{
  display: inline-block;
  position: relative;

}
.Studios{
  font-size: 48px;
}
#titleLetra{
  font-size: 55px;
}
#bermuda{
  width: 58%;
  height: auto;
  display: none;
}
#grupo{
  width: 70%;
  height: auto;
  margin-top: -100px;
  margin-left: 188px;
}
#pablita1{
  width: 60%;
  height: auto;
  margin-top:-120px ;

}
#pablita2{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-top: -10px;
}

.letra-a{
  text-decoration: none;
}
#cherry{
  width: 40%;
  height: auto;
  margin-top: -165px;

}

#pablitaC{
  width: 76%;
  height: auto;
  margin-top: -140px;
}
#taxi{
  width: 51%;
  height: auto;
}
#serv{
  width: 70%;
  height: auto;
  margin-top: -180px;
}
#nos{
  width: 62%;
  height: auto;
  margin-top: -170px;
}
.menubar{
  display: none;
}
.dropdown-menu-bar{
  display: none;
}

@media screen and (max-width: 1200px){
  #pablita2{
    display: none;
  }
  #taxi{
    display: none;
  }
  #bermuda{
    width: 58%;
    height: auto;
    display: block;
    margin-top: -110px;
  }
  #grupo{
  display: none;
  }
}
@media screen and (max-width: 576px) {
  .menubar{
    display: block;
    width: 50px;
    height: 50px;
  }

  .letra-a{
    display: none;
  }
  .dropdown-menu-bar{
    display: block;
    margin-top: -230px;

  }

  .button{
    background-color: #FC003F;
    border: none;
  }


}
@media screen and (max-width: 400px){
  #titleLetra{
    font-size: 30px;
  }
}
