<div class="background-colordf">
    <app-header [tittle]="tittle" [img8]="imagen"></app-header>
    <br/>
    <br/>
        <div class="rectangulo">
            <div class="container">
                <div class="row" >
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
                            <img class="logoA" src="./assets/img/Logo(1).png" >
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">
                            <h1 class="h1left h1">¿Quiénes somos?</h1>
                            <p class="h1left p">Ambar Rojo Studios, es una empresa cuyo objetivo es impulsar la industria creativa, como animación 2D, 3D, y videojuegos,
                             que a través de este espacio de encuentro se busca conjuntar el talento humano, dispuesto a intercambiar conocimientos, ideas y técnicas.</p>
                        </div>
                      </div>
                </div>
        </div>

            <div class="container"  >
                <div class="row" >
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">
                          <h1 class="h1left h1">Nuestras herramientas</h1>
                          <p class="h1left p">Titanium Appcelerator, HTML5, Java, Unity, .Net, PHP, SQL Server y PSP.</p>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
                            <img class="img1" src="assets/img/icono-herramientas2.png">
                        </div>
                      </div>
                </div>

        <div class="rectangulo">
            <div class="container" >
                <div class="row" >
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 ">
                          <img class="img1" src="assets/img/icono-unetenos2.png">
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12">
                          <h1 class="h1left h1">Únetenos</h1>
                          <p class="h1left p">Si estás interesado en participar y formar parte de esta gran iniciativa, contáctanos y aporta tus conocimientos en Programación, Diseño, Animación, Creación, Edición de Audio, Guión, Modelado 3D, etc.</p>
                        </div>
                      </div>
                </div>
        </div>
    </div>

    <div  class="recuadro1" >
        <div class="container">
            <div class="row" >
                <div class="col-lg-12">
                    <br/>
                    <h5 class="colorText h5" align="center">Misión</h5>
                    <p class="colorText p">Desarrollar productos y servicios con calidad creativa en el área de medios interactivos, capacitación, desarrollo de software y aplicaciones móviles, procurando que la responsabilidad y la innovación sean factores clave que motiven a nuestro equipo de trabajo y a nuestros clientes a establecer lazos duraderos.</p>
                    <h5 class="colorText h5" align="center">Visión</h5>
                    <p class="colorText p">Lograr el liderazgo y reconocimiento regional en el desarrollo de medios interactivos, software y aplicaciones móviles, adaptándolos a los cambios continuos en base a la innovación, destacándonos por nuestra calidad y eficiencia en el diseño.</p>
                </div>
            </div>
        </div>

  </div>
