<div class="background-colordf">
  <app-header [tittle]="tittle" [img9]="serviciosimg" ></app-header>
  <div class="rectangulo1">
    <div class="container" style="max-width: 1750px;">
      <div class="row" >
        <div class="col-xl-3 col">
          <img class="Apps" src="./assets/img/development.png">
        </div>
        <div class="col-xl-9">
          <h1 class="cText text-center">APPS MULTIPLATAFORMA</h1>
          <p class="cText tAlign">En informática, multi-plataforma, es un atributo conferido a los programas informáticos o los métodos de cálculo y los conceptos que se ejecuten e interoperan en múltiples plataformas informáticas.
            Software multiplataforma puede dividirse en dos tipos: requiere una compilación individual para cada plataforma que le da soporte, y el otro se puede ejecutar directamente en cualquier plataforma sin preparación especial.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="rectangulo2">
    <div class="container" style="max-width: 1750px;" >
      <div class="row" >
        <div class="col-xl-8">
          <h1 class="text-center">VIDEOJUEGOS</h1>
          <p class="tAlign">Un videojuego o juego de videos es un conjunto de obras artísticas, literarias y científicas creadas por un autor o en colaboración por varios autores o colectivamente bajo la dirección de una persona natural o jurídica.
            Dichas obras son programadas posteriormente y compiladas gracias al software sin ser considerado videojuego como un programa de ordenador ni como una obra visual, teniendo un tratamiento diferenciado.</p>
        </div>
        <div class="col-xl-4">
          <img class="Games" src="./assets/img/Games.png">
        </div>
      </div>
    </div>
  </div>

  <div class="rectangulo3">
    <div class="container" style="max-width: 1750px;">
      <div class="row" >
        <div class="col-xl-4">
          <img class="ambar" src="./assets/img/ambar.png">
        </div>
        <div class="col-xl-8">
          <h1 class="cText text-center">SOFTWARE</h1>
          <p class="cText tAlign">Se conoce como software al equipamiento lógico o soporte lógico de un sistema informático, que comprende el conjunto de los componentes lógicos necesarios que hacen posible la realización de tareas específicas, en contraposición a los componentes físicos que son llamados hardware.
            Es el conjunto de los programas de cómputo, procedimientos, reglas, documentación y datos asociados, que forman parte de las operaciones de un sistema de computación.</p>
        </div>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <app-card-serv></app-card-serv>
  <br/>
  <br/>
</div>

