<div class="container">
  <div class="row">
    <h5 class="fw-bold">
      Paquetes
    </h5>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
      <br/>
      <div class="card cardColor">
        <div class="card-body">
          <h5 class="card-title text-center h5">Paquetes de punto de venta y administración de inventarios</h5>
          <br/>
          <h5 class="h5 tAlign">Paquete 1:
          <a class="a-color" href="http://ambarrojostudios.com/resources/ExPOSAmbarRojo.pdf"> Punto de Venta Básico con equipo</a>
          </h5>
          <h5 class="tAlign">Paquete 2:
            <a class="a-color" href="http://ambarrojostudios.com/resources/ExPOSAmbarRojo.pdf">Punto de Venta con Facturación Electrónica, sin equipo</a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
      <br/>
      <div class="card cardColor">
        <div class="card-body">
          <h5 class="card-title text-center h5">Paquete de Página Web y Capacitación de Interacción Web</h5>
          <br/>
          <h5 class="h5 tAlign">Paquete unico:
            <a class="a-color text-wrap" href="http://ambarrojostudios.com/resources/PaginasWebAmbarRojo.pdf">
          Incluye Consultoría (5 horas), Página Web(Diseño, desarrollo, dominio y hosting por 1 año), Asistencia técnica(3 meses) y curso de Interacción Web (Manejo de redes sociales 16 hrs)
            </a>
          </h5>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12">
      <br/>
      <div class="card cardColor">

        <div class="card-body">
          <h5 class="card-title text-center text-wrap h5">Paquete Curso de Desarrollo de Aplicaciones Móviles en Titanium</h5>
          <br/>
          <h5 class="h5 tAlign">Paquete unico:
            <a class="a-color" href="http://ambarrojostudios.com/resources/CursoAppsAmbarRojo.pdf">
              Incluye curso de 40 horas, Asistencia técnica de 3 meses
            </a>
          </h5>

        </div>
      </div>
    </div>
  </div>
</div>

