<div class="container">
  <div class="row">
    <h5 class="fw-bold">
      Últimas Noticias
    </h5>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
      <br/>
      <div class="card CardNews">
        <img src="assets/img/img_3.png" class="card-img-top img-size">
        <div class="card-body">
          <h5 class="card-title text-center">Software</h5>
          <a href="https://hipertextual.com/2013/08/cifrar-archivos-nuestra-computadora" class="card-text tAlign2 dropdown-item text-wrap">Cómo cifrar los archivos que almacenamos en nuestra computadora</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
      <br/>
      <div class="card CardNews">
        <img src="assets/img/img_4.png" class="card-img-top img-size">
        <div class="card-body">
          <h5 class="card-title text-center">Software</h5>
          <a href="https://hipertextual.com/2013/08/firefox-version-metro-diciembre" class="card-text tAlign2 dropdown-item text-wrap">Mozilla lanzará preview de la versión Metro de Firefox en diciembre</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
      <br/>
      <div class="card CardNews">
        <img src="assets/img/img_5.png" class="card-img-top img-size">
        <div class="card-body">
          <h5 class="card-title text-center">App</h5>
          <a href="https://hipertextual.com/2013/08/google-bloquea-youtube-windows-phone" class="card-text tAlign3 dropdown-item text-wrap">Google bloquea la aplicación de YouTube para Windows Phone</a>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-12">
      <br/>
      <div class="card CardNews">
        <img src="assets/img/img_6.png" class="card-img-top img-size">
        <div class="card-body">
          <h5 class="card-title text-center">Games</h5>
          <a href="https://hipertextual.com/2013/08/playstation-vita-precio" class="card-text tAlign dropdown-item text-wrap">PlayStation Vita reduce su precio a 199 dólares/eurosa</a>
        </div>
      </div>
    </div>
  </div>
</div>
