<div class="background-colordf">
  <app-header [tittle]="tittle" [img6]="pablita2" [img7]="taxi"></app-header>
  <br/>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
        <form class="backcolor form">
          <h2 class="h3-text fw-bold">INFORMACIÓN DE CONTACTO</h2>
          <br/>
          <label class="fw-bold label">Nombre</label>
          <input class="input-size border-0" type="text" id="name">
          <br/>
          <label class="fw-bold label2">Email</label>
          <input class="input-size2 border-0" type="text" id="email">
          <br/>
          <label class="fw-bold label2">Ciudad</label>
          <input class="input-size2 border-0" type="text" id="ciudad">
          <br/>
          <label class="fw-bold label2">Estado</label>
          <select class=" input-size3 border-0" name="estado">
            <option value="no">Seleccione uno...</option>
            <option value="Aguascalientes">Aguascalientes</option>
            <option value="Baja California">Baja California</option>
            <option value="Baja California Sur">Baja California Sur</option>
            <option value="Campeche">Campeche</option>
            <option value="Chiapas">Chiapas</option>
            <option value="Chihuahua">Chihuahua</option>
            <option value="CDMX">Ciudad de México</option>
            <option value="Coahuila">Coahuila</option>
            <option value="Colima">Colima</option>
            <option value="Durango">Durango</option>
            <option value="Estado de México">Estado de México</option>
            <option value="Guanajuato">Guanajuato</option>
            <option value="Guerrero">Guerrero</option>
            <option value="Hidalgo">Hidalgo</option>
            <option value="Jalisco">Jalisco</option>
            <option value="Michoacán">Michoacán</option>
            <option value="Morelos">Morelos</option>
            <option value="Nayarit">Nayarit</option>
            <option value="Nuevo León">Nuevo León</option>
            <option value="Oaxaca">Oaxaca</option>
            <option value="Puebla">Puebla</option>
            <option value="Querétaro">Querétaro</option>
            <option value="Quintana Roo">Quintana Roo</option>
            <option value="San Luis Potosí">San Luis Potosí</option>
            <option value="Sinaloa">Sinaloa</option>
            <option value="Sonora">Sonora</option>
            <option value="Tabasco">Tabasco</option>
            <option value="Tamaulipas">Tamaulipas</option>
            <option value="Tlaxcala">Tlaxcala</option>
            <option value="Veracruz">Veracruz</option>
            <option value="Yucatán">Yucatán</option>
            <option value="Zacatecas">Zacatecas</option>
          </select>
          <br/>
          <label class="fw-bold label2">Telefono</label>
          <input class="input-size3 border-0" type="text" id="telefono">
          <br/>
          <label class="fw-bold label2">Mensaje</label>
          <br/>
          <textarea class="message" type="text"></textarea>
          <br/>
        </form>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
        <img id="arroba" src="assets/img/clip-752.png"/>
      </div>
    </div>
  </div>
  <br/>
  <br/>
</div>
