<div class="container"  >
  <div class="row">
    <div class="col-xl-4 col-md-4 col-sm-12 col-lg-6 col-12">
      <div class="card" >
        <div class="container-alig">
          <div class="circle">
            <img src="assets/icons/baseline_computer_white_24dp.png" class="card-img-top icons">
          </div>
        </div>
        <div class="card-body ">
          <h5 class="card-title text-center">Software</h5>
          <p class="card-text tAlign">Desarrollo de Software a la medida, plataformas .Net, PHP. Metodología PSP.</p>

          <button class="button">Leer mas</button>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12 col-lg-6 col-12">
      <div class="card ">
        <div class="container-alig">
          <div class="circle">
            <img src="assets/icons/phone_iphone_white_24dp.svg" class="card-img-top icons">
          </div>
        </div>

        <div class="card-body ">
          <h5 class="card-title text-center">App</h5>
          <p class="card-text tAlign">Desarrollo de Apps nativas para iOS & Android con Titanium Appcelerator.</p>

          <button class="button">Leer mas</button>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-4 col-sm-12 col-lg-6 col-12">
      <div class="card">
        <div class="container-alig">
          <div class="circle">
            <img src="assets/icons/sports_esports_white_24dp.svg" class="card-img-top icons">
          </div>
        </div>

        <div class="card-body ">
          <h5 class="card-title text-center">Games</h5>
          <p class="card-text tAlign">Próximamente, empresa incubada en el programa de Playstation.</p>

          <button class="button">Leer mas</button>
        </div>
      </div>
    </div>
  </div>
</div>

